.landing1a{
	background-image:linear-gradient(to right, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1)),url("../gambar/kereta1.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
	border:3px solid red;
	background-position:0 0,42em 0;
}