/*div.login #tahap02{
	display:none;
}*/


body{
	background-color:rgba(0,0,0,0);
	padding:0px;
	margin:0px;
	/*transition:3s;*/
	position:relative;
}

div.login{
	position:relative;
	box-sizing:border-box;
	height:100%;
	
}

.login2{
	background-image:url("../../gambar/bunga1.png"), url("../../gambar/bunga2.png"), linear-gradient(45deg, rgb(255, 204, 225), rgb(242, 249, 255), rgb(255, 204, 225));
	background-repeat:no-repeat;
	background-size: 30%, 30%, cover;
	background-position:bottom left, top right,0 0;
}



#tahap02{
	width:50%;
	display:grid;
	background-color:;
	grid-template-columns:1fr 1fr;
	margin:auto;
	position:relative;
	top:30%;
	gap:2em;
}

#tahap02 img,#tahap02 p{
	background-color:;
}

#tahap02 img{
	width:25%;
	grid-column-start: 1;
	grid-column-end: 3;
	margin:auto;
}

#tahap02 p{
	text-align:center;
	font-size:4vh;
	font-weight:660;
	grid-column-start: 1;
	grid-column-end: 3;
	margin:auto;
	font-family:"Forum";
}

#tahap02 .tombol1,#tahap02 .tombol2{
		font-family:"Exo";
		margin:auto;
		padding:2vh 12vh;
		font-size:2vh;
		
	}
	
	
#tahap02 .tombol1{
		border:none;
		background-color:E195AB;
		color:FFF5D7;
		border-radius:100px;
		
		
	}

#tahap02 .tombol2{
		border:3px solid #E195AB;
		background-color:transparent;
		color:black;
		border-radius:100px;
}

@media (max-height:450px) and (orientation:landscape){
	.login2{
		background-image:url("../../gambar/bunga1.png"), url("../../gambar/bunga2.png"), linear-gradient(45deg, rgb(255, 204, 225), rgb(242, 249, 255), rgb(255, 204, 225));
		background-repeat:no-repeat;
		background-size: 30%, 30%, cover;
		background-position:bottom left, top right,0 0;
	}

	div.login #tahap02{
		width:35%;
		display:grid;
		background-color:;
		grid-template-columns:1fr 1fr;
		margin:auto;
		position:relative;
		top:30%;
		gap:2em;
	}


	#tahap02 img{
		width:25%;
		grid-column-start: 1;
		grid-column-end: 3;
		margin:auto;
	}

	#tahap02 p{
		text-align:center;
		font-size:4vh;
		font-weight:660;
		grid-column-start: 1;
		grid-column-end: 3;
		margin:auto;
		font-family:"Forum";
	}

	#tahap02 .tombol1,#tahap02 .tombol2{
			font-family:"Exo";
			margin:auto;
			padding:2vh 12vh;
			font-size:2vh;
			
	}
		
		
	#tahap02 .tombol1{
			border:none;
			background-color:E195AB;
			color:FFF5D7;
			border-radius:100px;
			
			
	}

	#tahap02 .tombol2{
			border:3px solid #E195AB;
			background-color:transparent;
			color:black;
			border-radius:100px;
	}
}

@media (max-width:800px) and (orientation:portrait){
	.login2{
		background-image:url("../../gambar/bunga5.png"), url("../../gambar/bunga4.png"), linear-gradient(45deg, rgb(255, 204, 225), rgb(242, 249, 255), rgb(255, 204, 225));
		background-repeat:no-repeat;
		background-size:55%, 85%, cover;
		background-position:bottom left, top right,0 0;
	}

	div.login #tahap02{
		width:55%;
		display:flex;
		flex-direction:column;
		background-color:;
		margin:auto;
		position:relative;
		top:30%;
		gap:2em;
	}

	#tahap02 img, #tahap02 p, #tahap02 button{
		background-color:;
		margin:12vw 0;
	}

	#tahap02 img{
		width:35%;
		margin:auto;
	}

	#tahap02 p{
		text-align:center;
		font-size:3vh;
		font-weight:660;
		margin:auto;
		font-family:"Forum";
	}
	
	#tahap02 .tombol1,#tahap02 .tombol2{
		font-family:"Exo";
		margin:auto;
		padding:2vh 0;
		font-size:2vh;
		width:80%;
	}
	
	
	#tahap02 .tombol1{
		border:none;
		background-color:E195AB;
		color:FFF5D7;
		border-radius:100px;
		
		
	}

	#tahap02 .tombol2{
		border:3px solid #E195AB;
		background-color:transparent;
		color:black;
		border-radius:100px;
	}
}

@media (max-width:950px) and (orientation:portrait){
	.login2{
		background-image:url("../../gambar/bunga5.png"), url("../../gambar/bunga4.png"), linear-gradient(45deg, rgb(255, 204, 225), rgb(242, 249, 255), rgb(255, 204, 225));
		background-repeat:no-repeat;
		background-size:55%, 85%, cover;
		background-position:bottom left, top right,0 0;
	}

	div.login #tahap02{
		width:55%;
		display:flex;
		flex-direction:column;
		background-color:;
		margin:auto;
		position:relative;
		top:30%;
		gap:2em;
	}

	#tahap02 img, #tahap02 p, #tahap02 button{
		background-color:;
		margin:12vw 0;
	}

	#tahap02 img{
		width:35%;
		margin:auto;
	}

	#tahap02 p{
		text-align:center;
		font-size:3vh;
		font-weight:660;
		margin:auto;
		font-family:"Forum";
	}
	
	#tahap02 .tombol1,#tahap02 .tombol2{
		font-family:"Exo";
		margin:auto;
		padding:2vh 0;
		font-size:2vh;
		width:80%;
	}
	
	
	#tahap02 .tombol1{
		border:none;
		background-color:E195AB;
		color:FFF5D7;
		border-radius:100px;
		
		
	}

	#tahap02 .tombol2{
		border:3px solid #E195AB;
		background-color:transparent;
		color:black;
		border-radius:100px;
	}
}

@media (max-height:1400px) and (orientation:portrait){
	.login2{
		background-image:url("../../gambar/bunga5.png"), url("../../gambar/bunga4.png"), linear-gradient(45deg, rgb(255, 204, 225), rgb(242, 249, 255), rgb(255, 204, 225));
		background-repeat:no-repeat;
		background-size:55%, 85%, cover;
		background-position:bottom left, top right,0 0;
	}

	div.login #tahap02{
		width:55%;
		display:flex;
		flex-direction:column;
		background-color:;
		margin:auto;
		position:relative;
		top:30%;
		gap:2em;
	}

	#tahap02 img, #tahap02 p, #tahap02 button{
		background-color:;
		margin:12vw 0;
	}

	#tahap02 img{
		width:35%;
		margin:auto;
	}

	#tahap02 p{
		text-align:center;
		font-size:3vh;
		font-weight:660;
		margin:auto;
		font-family:"Forum";
	}
	
	#tahap02 .tombol1,#tahap02 .tombol2{
		font-family:"Exo";
		margin:auto;
		padding:2vh 0;
		font-size:2vh;
		width:80%;
	}
	
	
	#tahap02 .tombol1{
		border:none;
		background-color:E195AB;
		color:FFF5D7;
		border-radius:100px;
		
		
	}

	#tahap02 .tombol2{
		border:3px solid #E195AB;
		background-color:transparent;
		color:black;
		border-radius:100px;
	}
}

@media (max-width:500px) and (orientation:portrait){
	.login2{
		background-image:url("../../gambar/bunga3.png"), linear-gradient(45deg, rgb(255, 204, 225), rgb(242, 249, 255), rgb(255, 204, 225));
		background-repeat:no-repeat;
		background-size: contain, cover;
		background-position:top center,0 0;
	}

	div.login #tahap02{
		width:80%;
		display:flex;
		flex-direction:column;
		background-color:;
		margin:auto;
		position:relative;
		top:30%;
		gap:2em;
	}

	#tahap02 img, #tahap02 p, #tahap02 button{
		background-color:;
		margin:12vw 0;
	}

	#tahap02 img{
		width:35%;
		margin:auto;
	}

	#tahap02 p{
		text-align:center;
		font-size:3vh;
		font-weight:660;
		margin:auto;
		font-family:"Forum";
	}
	
	#tahap02 .tombol1,#tahap02 .tombol2{
		font-family:"Exo";
		margin:auto;
		padding:1vh 8vh;
		font-size:2vh;
	}
	
	
	#tahap02 .tombol1{
		border:none;
		background-color:E195AB;
		color:FFF5D7;
		border-radius:100px;
		
		
	}

	#tahap02 .tombol2{
		border:3px solid #E195AB;
		background-color:transparent;
		color:black;
		border-radius:100px;
	}
	
}


