html{
	background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/kereta1.jpeg");
	background-size:cover;
	background-repeat:no-repeat;
	margin:0px;
	padding:0px;
	background-position: center center;
}

body{
	margin:0px;
	padding:0px;
	display:flex;
	align-items: center;
	box-sizing:border-box;
}

#konten1{
	display:flex;
	
	flex-direction: column;
	margin:auto;
	width:100%;
}

#konten1 *{
	
	margin:auto;
}

#konten1 p, #konten1 h1, #konten1 div{
	color:white;
	font-family: "Open+Sans", sans-serif;
}

#konten1 h1{
	margin-bottom:4em;
}

#konten1 p{
	font-weight:200;
}

#inputan_text{
	outline:none;
	background-color:rgba(201, 201, 189, 0.3);
	border-width:0px 0px 0px 0px;
	border-color:white;
	border-style:solid;
	width:50%;
	color:white;
	margin-top:2em;
	padding:1em;
	border-radius:6px;
	transition:0.5s;
}

#inputan_text:focus{
	background-color:rgba(201, 201, 189, 0.8);
	color:black;
}

#tombol_submit{
	background-color:white;
	padding:1em 6em;
	outline:none;
	border:none;
	margin:1em auto;
	border-radius:50px;
	font-size:12px;
	word-spacing: 130px;
	transition:0.5s;
}

#tombol_submit:hover{
	background-color:#6e6e64;
	color:#d6d6c1;
}

#konten1 form{
	display:flex;
	align-items:center;
	flex-direction: column;
	width:60%;
}

#konten1 div{
	font-weight:300;
	font-size:15px;
}

@media (max-width:1024px){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/perumahan1.jpg");
	}
}

@media (max-height:450px) and (orientation:landscape){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/perumahan1.jpg");
	}
	
	#konten1 h1{
		font-size:3em;
		margin-bottom:4em;
	}

	#konten1 p{
		font-weight:200;
		font-size:1.2em;
	}
	
    #inputan_text{
    	width:60%;
    }
	#konten1 form{
		width:80%;
	}
	
	#tombol_submit{
		font-size:1em;
	}
}

@media (max-height:700px) and (orientation:landscape){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/perumahan1.jpg");
	}
	
	#konten1 h1{
		font-size:2em;
		margin-bottom:4em;
	}

	#konten1 p{
		font-weight:200;
		font-size:0.8em;
	}
	
    #inputan_text{
    	width:90%;
    }
	#konten1 form{
		width:80%;
	}
	
	#tombol_submit{
		font-size:0.5em;
	}
}

@media (max-width:800px) and (orientation:portrait){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/perumahan1.jpg");
	}
	#konten1 h1{
		font-size:3em;
		margin-bottom:4em;
	}

	#konten1 p{
		font-weight:200;
		font-size:1.2em;
	}
	
    #inputan_text{
    	width:60%;
    }
	#konten1 form{
		width:80%;
	}
	
	#tombol_submit{
		font-size:1em;
	}
}

@media (max-width:950px) and (orientation:portrait){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/rumput1.jpg");
	}
	
	#konten1 h1{
		font-size:3em;
		margin-bottom:4em;
	}

	#konten1 p{
		font-weight:200;
		font-size:1.2em;
	}
	
    #inputan_text{
    	width:60%;
    }
	#konten1 form{
		width:80%;
	}
	
	#tombol_submit{
		font-size:1em;
	}
}

@media (max-height:1400px) and (orientation:portrait){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/rumput1.jpg");
	}
	
	#konten1 h1{
		font-size:3em;
		margin-bottom:4em;
	}

	#konten1 p{
		font-weight:200;
		font-size:1.2em;
	}
	
    #inputan_text{
    	width:60%;
    }
	#konten1 form{
		width:80%;
	}
	
	#tombol_submit{
		font-size:1em;
	}
}

@media (max-width:550px) and (orientation:portrait){
	html{
		background-image:linear-gradient(to right, rgba(38, 38, 36, 0.8) , rgba(38, 38, 36, 0.8)), url("gambar/rumput1.jpg");
	}
	#konten1 h1{
		font-size:1.4em;
		margin-bottom:4em;
	}

	#konten1 p{
		font-weight:200;
		font-size:1em;
	}
	
    #inputan_text{
    	width:80%;
    }
	#konten1 form{
	width:100%;
	}
}